*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "Microsoft YaHei UI";
}

.clear{
	clear: both;
}

.header{
	width: 100%;
	height: 100px;
	background-color: #07cbc9;
	margin: 0 auto;
	position: fixed;
	z-index: 999;
	overflow: hidden;
	zoom:1;
}
.header img{
	width: 260px;
	height: 48px;
	padding-left: 100px;
	padding-top: 26px;
}
.header .logo{
	float: left;
}
.header .nav{
	float: right;
	overflow: hidden;
	zoom:1;
}
.header .nav ul{
	margin-right: 100px;
}
.header .nav ul li{
	float: left;
	list-style: none;
	width: 90px;
	height: 100px;
	line-height: 100px;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}
.header .nav ul li a{

	color: #ffffff;
	text-decoration: none;
	background-color:#07cbc9; 
	display: inline-block;
	height: 100%;
	width: 100%; 
	
}
.header .nav ul li a:hover{
	background-color:#000; 
}


.banner{
	
	width: 100%;
	height: 600px;
	left:auto;
	right: auto;
	
}
.banner img{
	margin-top: 100px;
	width: 100%;
	height: 600px;
}
.banner .bannerLayer{
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	margin: 0 auto;
	width:100%;
	height: 600px;
	background-color: #000;
	opacity: 0.4;
	z-index: 2;

}
.banner .messageTable{
	position: absolute;
	left: 735px;
	top: 200px;
	z-index: 3;
}
.banner form table tr td{
	text-align: center;
	padding:10px;
}
.banner form table tr td input{
	width: 450px;
	height: 40px;
	line-height: 30px;
	border: 2px gray solid;
	color: gray;
	background-color: transparent;
	font-weight: bold;

}
.banner form table tr td .input4{
	width: 450px;
	height: 120px;
	line-height: 30px;
	color: gray;
	background-color: transparent;
	border: 2px gray solid;
	font-weight: bold;
}
.banner form table tr td .button1{
	width:150px;
}
.ABOUT{
	width: 100%;
	height: 1000PX;
	background-color: pink;
	/*margin-top: 100px;*/
	z-index: 90
}
